<% if path.present? %>
  <%= link_to path, class: component_classes, data: debug_data do %>
    <span><%= label %></span>
    <strong><%= title %></strong>
    <% if text.present? %>
      <p><%= text %></p>
    <% end %>
  <% end %>
<% else %>
  <%= tag.article class: component_classes, data: debug_data do %>
    <span><%= label %></span>
    <strong><%= title %></strong>
    <% if text.present? %>
      <p><%= text %></p>
    <% end %>
  <% end %>
<% end %>
