<section class="<%= component_classes %>" aria-labelledby="public-v2-partners-title" <%= debug_attributes %>>
  <div class="pv2-partners__head">
    <h2 id="public-v2-partners-title"><%= title %></h2>
    <p><%= text %></p>
  </div>

  <div class="pv2-partners__grid">
    <% partners.each do |partner| %>
      <figure class="pv2-partners__item" title="<%= partner[:name] %>" aria-label="<%= partner[:name] %>">
        <%= inline_svg_tag("logos/#{partner[:logo]}", class: "pv2-partners__logo") %>
      </figure>
    <% end %>
  </div>
</section>
