<%= simple_form_for([:admin, @event], data: {turbo: true}) do |f| %>

  <div class="w-2/4">
    <div class="flex items-center space-x-3 border-b h-12 pl-4">
      <div class="text-sm font-medium text-slate-700">Infos</div>
    </div>

    <div class="p-8">
      <div class="mb-6 flex space-x-8">
        <div class="w-1/2">
          <%= f.input :title, label: "Titre", wrapper: :admin_form %>
        </div>
        <div class="w-1/2">
          <%= f.input :content, label: "Contenu", wrapper: :admin_form %>
        </div>
      </div>

      <%= f.input :start_date, as: :datetime, html5: true, label: "Date de début", wrapper: :admin_form %>
      <%= f.input :end_date, as: :datetime, html5: true, label: "Date de fin", wrapper: :admin_form %>

      <%= f.button :submit, "Enregistrer" %>



    </div>

  </div>


<% end %>