<section class="<%= component_classes %>" aria-label="<%= item.label %>" <%= debug_attributes %>>
  <span class="pv2-product-animated-service-card__label">
    <span class="pv2-product-animated-service-card__protected"><%= protected_label %></span>
    <span class="pv2-product-animated-service-card__impact pv2-product-animated-service-card__impact--<%= variant %>">
      <span class="pv2-product-animated-service-card__impact-text"><%= impact_label %></span>
    </span>
  </span>
</section>
