<span
  data-controller="server-event"
  data-server-event-level-value="<%= level %>"
  data-server-event-message-value="<%= message %>"
  data-server-event-source-value="<%= source %>"
  data-server-event-type-value="<%= event_type %>"
  data-server-event-method-value="<%= request_method %>"
  data-server-event-path-value="<%= request_path %>"
  data-server-event-status-value="<%= status_code %>"
  data-server-event-resource-value="<%= resource_label %>"
  data-server-event-timestamp="<%= timestamp.iso8601 %>">
</span>
