<div id="admin_v2_category_drawer_summary" class="min-h-full">
  <%= render "admin_v2/categories/drawer_header", category: category %>

  <div class="space-y-4 p-5">
    <%= render "admin_v2/categories/panels/publication", category: category %>
    <%= render "admin_v2/categories/panels/details", category: category %>
    <%= render "admin_v2/categories/panels/appearance", category: category %>
    <%= render "admin_v2/categories/panels/hero_image", category: category %>
    <%= render "admin_v2/categories/panels/products", category: category %>
  </div>
</div>
