<div class="container mx-auto px-4 py-8">
  <div class="flex items-center mb-8 justify-center">
    <div><%= inline_svg_tag("icons/banknotes.svg", class: "h-6 w-6 text-orange-500 mr-3 animate-pulse") %></div>
    <h1 class="text-2xl font-bold text-center">Déstockage</h1>
  </div>
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6">
    <% @products.each do |product| %>

      <div class="bg-white rounded-lg border border-slate-100 overflow-hidden flex flex-col">
        <%= cl_image_tag(product.category.products.first.images.first.key, crop: :scale, class: "h-48 w-full object-cover") %>
        <div class="p-8">
          <h2 class="text-md font-bold text-slate-700"><%= product.name %></h2>
          <p class="text-violet-500 text-[12px] font-medium"><%= "Dimensions: #{product.dimensions}" %></p>
          <ul class="list-disc list-inside text-gray-500 mt-3 text-xs font-medium">
            <% product.options.each do |option| %>
              <li><%= option.content %></li>
            <% end %>
          </ul>
          <div class="flex items-center mt-4">
            <span class="text-slate-400 line-through font-medium text-sm mr-2"><%= "#{product.old_price} TTC posé" %></span>
            <span class="text-violet-500 font-semibold text-lg"><%= "#{product.new_price} TTC posé" %></span>
          </div>
          <p class="text-slate-400 text-[10px] font-medium">
            (Dans un rayon de 30km autour de l’Arbresle)
          </p>
        </div>
        <div class="h-14 flex items-center justify-center border-t border-slate-100">
          <%= link_to "Devis gratuit", new_quote_path(product_id: product.id), class: "bg-orange-50 text-orange-400 text-center px-2 py-1 border border-orange-200 rounded hover:bg-orange-100 transition text-[11px] font-semibold" %>
        </div>


      </div>

    <% end %>


  </div>
</div>
