 <!-- Static sidebar for desktop -->
<div class="flex w-2/12 flex-col sticky top-0 h-screen">
  <!-- Sidebar component, swap this element with another sidebar if you like -->
  <div class="flex grow flex-col gap-y-5 overflow-y-auto border-r border-gray-200 bg-white px-6">
    <div class="flex h-16 shrink-0 items-center">
      <div><%= inline_svg_tag("logos/ads-logo-full-cleaned.svg", class: "h-6 w-6 shrink-0 text-orange-500") %></div>
      <div class="ml-3 font-semibold">Lads-V3</div>
    </div>
    <nav class="flex flex-1 flex-col admin-navbar">
      <ul role="list" class="flex flex-1 flex-col gap-y-7">
        <li>
          <ul role="list" class="-mx-2 space-y-1">
            <li>
              <%= active_link_to admin_categories_path do %>
                <%= inline_svg_tag("icons/fire.svg", class: "h-6 w-6 shrink-0 text-gray-400")%>
                Catégories
              <% end %>
            </li>
            <li>
              <%= active_link_to admin_products_path do %>
                <%= inline_svg_tag("icons/fire.svg", class: "h-6 w-6 shrink-0 text-gray-400")%>
                Produits
              <% end %>
            </li>
            <li>
              <%= active_link_to admin_brands_path do %>
                <%= inline_svg_tag("icons/fire.svg", class: "h-6 w-6 shrink-0 text-gray-400")%>
                Marques
              <% end %>
            </li>
            <li>
              <%= active_link_to admin_motorists_path do %>
                <%= inline_svg_tag("icons/fire.svg", class: "h-6 w-6 shrink-0 text-gray-400")%>
                Motoristes
              <% end %>
            </li>
            <li>
              <%= active_link_to admin_events_path do %>
                <%= inline_svg_tag("icons/fire.svg", class: "h-6 w-6 shrink-0 text-gray-400")%>
                Evènements
              <% end %>
            </li>
            <li>
              <%= active_link_to admin_quotes_path do %>
                <%= inline_svg_tag("icons/fire.svg", class: "h-6 w-6 shrink-0 text-gray-400")%>
                Devis
              <% end %>
            </li>


          </ul>
        </li>

        <li class="-mx-6 mt-auto">
          <div class="flex px-5 py-4 w-full items-center space-x-2 hover:bg-gray-50">
            <%= inline_svg_tag("icons/logout.svg", class: "text-gray-400 w-5 h-5") %>
            <%= button_to("Déconnexion", destroy_user_session_path, method: :delete, class: " text-sm font-semibold flex-grow") %>
          </div>
        </li>
      </ul>
    </nav>
  </div>
</div>
