<% pattern = local_assigns.fetch(:pattern) %>

<div class="h-[168px] w-full min-w-0 max-w-full overflow-hidden rounded-md border border-[#d8dccf] bg-[#f0f3e9] p-3">
  <div class="h-full min-w-0 [&>*]:h-full">
  <% case pattern %>
  <% when :marketing_spine %>
    <div class="grid gap-2">
      <div class="h-7 rounded bg-[#111510]"></div>
      <div class="grid grid-cols-[1.2fr_.8fr] gap-2">
        <div class="grid gap-2 rounded bg-[#84cc16] p-2">
          <span class="h-3 w-1/3 rounded bg-black/35"></span>
          <span class="h-5 w-4/5 rounded bg-black/70"></span>
          <span class="h-3 w-3/5 rounded bg-black/35"></span>
        </div>
        <div class="rounded bg-[#cfd8e3]"></div>
      </div>
      <div class="grid grid-cols-4 gap-2">
        <span class="h-8 rounded bg-white"></span>
        <span class="h-8 rounded bg-white"></span>
        <span class="h-8 rounded bg-white"></span>
        <span class="h-8 rounded bg-white"></span>
      </div>
      <div class="h-7 rounded bg-[#e4e8dc]"></div>
    </div>
  <% when :split_page %>
    <div class="grid grid-cols-2 gap-3">
      <div class="grid content-center gap-2">
        <span class="h-3 w-1/3 rounded bg-[#84cc16]"></span>
        <span class="h-6 w-5/6 rounded bg-[#111510]"></span>
        <span class="h-3 w-4/5 rounded bg-[#6b725f]"></span>
        <span class="h-3 w-2/3 rounded bg-[#6b725f]"></span>
        <span class="mt-2 h-7 w-1/2 rounded bg-[#84cc16]"></span>
      </div>
      <div class="rounded bg-[#cfd8e3]"></div>
    </div>
  <% when :editorial_grid %>
    <div class="grid grid-cols-6 grid-rows-4 gap-2">
      <span class="col-span-3 row-span-2 rounded bg-[#111510]"></span>
      <span class="col-span-3 row-span-1 rounded bg-[#84cc16]"></span>
      <span class="col-span-2 row-span-2 rounded bg-white"></span>
      <span class="col-span-1 row-span-2 rounded bg-[#dce2d3]"></span>
      <span class="col-span-2 row-span-2 rounded bg-[#cfd8e3]"></span>
      <span class="col-span-4 rounded bg-white"></span>
    </div>
  <% when :catalogue_grid %>
    <div class="grid grid-cols-[.34fr_1fr] gap-2">
      <div class="grid gap-2 rounded bg-white p-2">
        <span class="h-3 rounded bg-[#111510]"></span>
        <span class="h-3 rounded bg-[#d8dccf]"></span>
        <span class="h-3 rounded bg-[#d8dccf]"></span>
        <span class="h-3 rounded bg-[#d8dccf]"></span>
        <span class="h-8 rounded bg-[#84cc16]"></span>
      </div>
      <div class="grid grid-cols-3 gap-2">
        <% 6.times do %>
          <span class="rounded bg-white"></span>
        <% end %>
      </div>
    </div>
  <% when :list_detail %>
    <div class="grid grid-cols-[.42fr_1fr] gap-2">
      <div class="grid gap-2">
        <% 5.times do |index| %>
          <span class="rounded <%= index.zero? ? "bg-[#84cc16]" : "bg-white" %>"></span>
        <% end %>
      </div>
      <div class="grid gap-2 rounded bg-white p-2">
        <span class="h-16 rounded bg-[#cfd8e3]"></span>
        <span class="h-4 w-2/3 rounded bg-[#111510]"></span>
        <span class="h-3 w-full rounded bg-[#d8dccf]"></span>
        <span class="h-3 w-4/5 rounded bg-[#d8dccf]"></span>
      </div>
    </div>
  <% when :supporting_pane %>
    <div class="grid grid-cols-[1fr_.38fr] gap-2">
      <div class="grid gap-2 rounded bg-white p-2">
        <span class="h-5 w-2/3 rounded bg-[#111510]"></span>
        <span class="h-20 rounded bg-[#e4e8dc]"></span>
        <span class="h-4 rounded bg-[#d8dccf]"></span>
      </div>
      <div class="grid gap-2 rounded bg-[#84cc16] p-2">
        <span class="h-3 rounded bg-black/40"></span>
        <span class="h-10 rounded bg-black/20"></span>
        <span class="h-3 rounded bg-black/40"></span>
      </div>
    </div>
  <% when :feed_layout %>
    <div class="grid grid-cols-4 gap-2">
      <span class="col-span-2 row-span-2 rounded bg-white"></span>
      <span class="rounded bg-[#cfd8e3]"></span>
      <span class="rounded bg-white"></span>
      <span class="rounded bg-[#e4e8dc]"></span>
      <span class="rounded bg-white"></span>
      <span class="col-span-2 rounded bg-[#84cc16]"></span>
    </div>
  <% when :longform_story %>
    <div class="grid gap-2">
      <span class="h-9 rounded bg-[#111510]"></span>
      <div class="grid grid-cols-[.18fr_1fr] gap-2">
        <span class="rounded bg-[#84cc16]"></span>
        <div class="grid gap-2">
          <span class="h-4 rounded bg-white"></span>
          <span class="h-4 rounded bg-white"></span>
          <span class="h-16 rounded bg-[#cfd8e3]"></span>
        </div>
      </div>
    </div>
  <% when :bento_overview %>
    <div class="grid grid-cols-4 grid-rows-3 gap-2">
      <span class="col-span-2 row-span-2 rounded bg-[#84cc16]"></span>
      <span class="col-span-2 rounded bg-white"></span>
      <span class="rounded bg-white"></span>
      <span class="rounded bg-[#cfd8e3]"></span>
      <span class="col-span-2 rounded bg-white"></span>
      <span class="col-span-2 rounded bg-[#e4e8dc]"></span>
    </div>
  <% when :commerce_landing %>
    <div class="grid gap-2">
      <div class="grid grid-cols-[1fr_.7fr] gap-2">
        <span class="h-16 rounded bg-[#84cc16]"></span>
        <span class="h-16 rounded bg-[#cfd8e3]"></span>
      </div>
      <div class="grid grid-cols-3 gap-2">
        <span class="h-12 rounded bg-white"></span>
        <span class="h-12 rounded bg-white"></span>
        <span class="h-12 rounded bg-white"></span>
      </div>
      <span class="h-8 rounded bg-[#111510]"></span>
    </div>
  <% when :guided_choice_homepage %>
    <div class="grid gap-2">
      <div class="grid grid-cols-[.42fr_1fr] gap-2">
        <div class="grid gap-2 rounded bg-[#111510] p-2">
          <span class="h-3 rounded bg-[#84cc16]"></span>
          <span class="h-5 rounded bg-white"></span>
          <span class="h-3 w-2/3 rounded bg-white/35"></span>
        </div>
        <div class="grid grid-cols-2 gap-2">
          <% 4.times do |index| %>
            <span class="rounded <%= index.zero? ? "bg-[#84cc16]" : "bg-white" %>"></span>
          <% end %>
        </div>
      </div>
      <div class="grid grid-cols-3 gap-2">
        <span class="h-8 rounded bg-white"></span>
        <span class="h-8 rounded bg-[#cfd8e3]"></span>
        <span class="h-8 rounded bg-white"></span>
      </div>
    </div>
  <% when :showroom_first %>
    <div class="grid gap-2">
      <div class="grid grid-cols-[1fr_.7fr] gap-2">
        <span class="h-20 rounded bg-[#cfd8e3]"></span>
        <div class="grid content-center gap-2 rounded bg-white p-2">
          <span class="h-3 w-1/3 rounded bg-[#84cc16]"></span>
          <span class="h-5 rounded bg-[#111510]"></span>
          <span class="h-3 rounded bg-[#d8dccf]"></span>
        </div>
      </div>
      <div class="grid grid-cols-4 gap-2">
        <% 4.times do %>
          <span class="h-10 rounded bg-white"></span>
        <% end %>
      </div>
    </div>
  <% when :local_trust_page %>
    <div class="grid grid-cols-[.42fr_1fr] gap-2">
      <div class="grid gap-2 rounded bg-[#84cc16] p-2">
        <span class="h-5 rounded bg-black/55"></span>
        <span class="h-14 rounded bg-black/10"></span>
        <span class="h-3 rounded bg-black/35"></span>
      </div>
      <div class="grid gap-2">
        <span class="h-8 rounded bg-[#111510]"></span>
        <div class="grid grid-cols-3 gap-2">
          <% 6.times do %>
            <span class="rounded bg-white"></span>
          <% end %>
        </div>
      </div>
    </div>
  <% when :product_finder %>
    <div class="grid grid-cols-[.34fr_1fr] gap-2">
      <div class="grid gap-2 rounded bg-white p-2">
        <% 4.times do |index| %>
          <span class="rounded <%= index.zero? ? "bg-[#84cc16]" : "bg-[#d8dccf]" %>"></span>
        <% end %>
      </div>
      <div class="grid gap-2">
        <span class="h-8 rounded bg-[#111510]"></span>
        <div class="grid grid-cols-3 gap-2">
          <% 6.times do %>
            <span class="rounded bg-white"></span>
          <% end %>
        </div>
      </div>
    </div>
  <% when :service_hub %>
    <div class="grid gap-2">
      <span class="h-8 rounded bg-[#111510]"></span>
      <div class="grid grid-cols-3 gap-2">
        <% 3.times do |index| %>
          <div class="grid gap-2 rounded <%= index == 1 ? "bg-[#84cc16]" : "bg-white" %> p-2">
            <span class="h-5 rounded bg-black/35"></span>
            <span class="h-12 rounded bg-black/10"></span>
          </div>
        <% end %>
      </div>
      <span class="h-8 rounded bg-[#cfd8e3]"></span>
    </div>
  <% when :comparison_hub %>
    <div class="grid gap-2">
      <span class="h-7 rounded bg-[#111510]"></span>
      <div class="grid grid-cols-4 gap-2">
        <span class="rounded bg-[#e4e8dc]"></span>
        <% 3.times do |index| %>
          <span class="rounded <%= index == 1 ? "bg-[#84cc16]" : "bg-white" %>"></span>
        <% end %>
      </div>
      <div class="grid grid-cols-4 gap-2">
        <% 8.times do %>
          <span class="h-5 rounded bg-white"></span>
        <% end %>
      </div>
    </div>
  <% when :quote_funnel_page %>
    <div class="grid grid-cols-[.34fr_1fr] gap-2">
      <div class="grid gap-2">
        <% 4.times do |index| %>
          <span class="rounded <%= index.zero? ? "bg-[#84cc16]" : "bg-white" %>"></span>
        <% end %>
      </div>
      <div class="grid gap-2 rounded bg-white p-2">
        <span class="h-5 rounded bg-[#111510]"></span>
        <span class="h-8 rounded border border-[#d8dccf] bg-[#f7f8f1]"></span>
        <span class="h-8 rounded border border-[#d8dccf] bg-[#f7f8f1]"></span>
        <span class="h-7 w-1/2 rounded bg-[#84cc16]"></span>
      </div>
    </div>
  <% when :editorial_commerce %>
    <div class="grid grid-cols-[.42fr_1fr] gap-2">
      <div class="grid gap-2 rounded bg-[#111510] p-2">
        <span class="h-4 rounded bg-[#84cc16]"></span>
        <span class="h-8 rounded bg-white"></span>
        <span class="h-20 rounded bg-white/15"></span>
      </div>
      <div class="grid gap-2">
        <span class="h-12 rounded bg-[#cfd8e3]"></span>
        <div class="grid grid-cols-3 gap-2">
          <span class="h-14 rounded bg-white"></span>
          <span class="h-14 rounded bg-white"></span>
          <span class="h-14 rounded bg-[#84cc16]"></span>
        </div>
      </div>
    </div>
  <% when :proof_led_page %>
    <div class="grid gap-2">
      <div class="grid grid-cols-4 gap-2">
        <span class="col-span-2 rounded bg-[#84cc16]"></span>
        <span class="rounded bg-white"></span>
        <span class="rounded bg-white"></span>
        <span class="rounded bg-[#cfd8e3]"></span>
        <span class="col-span-3 rounded bg-white"></span>
      </div>
      <div class="grid grid-cols-[1fr_.34fr] gap-2">
        <span class="h-8 rounded bg-[#111510]"></span>
        <span class="h-8 rounded bg-[#84cc16]"></span>
      </div>
    </div>
  <% when :campaign_landing %>
    <div class="grid gap-2">
      <div class="grid grid-cols-[1fr_.7fr] gap-2">
        <div class="grid content-center gap-2 rounded bg-[#84cc16] p-2">
          <span class="h-3 w-1/4 rounded bg-black/35"></span>
          <span class="h-8 rounded bg-black/70"></span>
        </div>
        <span class="rounded bg-[#cfd8e3]"></span>
      </div>
      <div class="grid grid-cols-3 gap-2">
        <span class="h-10 rounded bg-white"></span>
        <span class="h-10 rounded bg-white"></span>
        <span class="h-10 rounded bg-[#111510]"></span>
      </div>
    </div>
  <% when :local_services_homepage %>
    <div class="grid gap-2">
      <div class="grid grid-cols-[.45fr_1fr] gap-2">
        <div class="grid gap-2 rounded bg-[#111510] p-2">
          <span class="h-4 rounded bg-[#84cc16]"></span>
          <span class="h-7 rounded bg-white"></span>
          <span class="h-3 rounded bg-white/35"></span>
        </div>
        <div class="grid grid-cols-3 gap-2">
          <% 6.times do |index| %>
            <span class="rounded <%= index == 2 ? "bg-[#84cc16]" : "bg-white" %>"></span>
          <% end %>
        </div>
      </div>
      <span class="h-8 rounded bg-[#cfd8e3]"></span>
    </div>
  <% when :product_taxonomy_hub %>
    <div class="grid grid-cols-[.32fr_1fr] gap-2">
      <div class="grid gap-2 rounded bg-white p-2">
        <% 5.times do |index| %>
          <span class="rounded <%= index.zero? ? "bg-[#84cc16]" : "bg-[#d8dccf]" %>"></span>
        <% end %>
      </div>
      <div class="grid gap-2">
        <span class="h-8 rounded bg-[#111510]"></span>
        <div class="grid grid-cols-4 gap-2">
          <% 8.times do %>
            <span class="rounded bg-white"></span>
          <% end %>
        </div>
      </div>
    </div>
  <% when :quote_guided_journey %>
    <div class="grid grid-cols-[.38fr_1fr] gap-2">
      <div class="grid gap-2">
        <% 4.times do |index| %>
          <span class="rounded <%= index.zero? ? "bg-[#84cc16]" : "bg-white" %>"></span>
        <% end %>
      </div>
      <div class="grid gap-2 rounded bg-white p-2">
        <span class="h-5 rounded bg-[#111510]"></span>
        <div class="grid grid-cols-2 gap-2">
          <span class="h-12 rounded border border-[#d8dccf] bg-[#f7f8f1]"></span>
          <span class="h-12 rounded border border-[#d8dccf] bg-[#f7f8f1]"></span>
        </div>
        <span class="h-8 w-1/2 rounded bg-[#84cc16]"></span>
      </div>
    </div>
  <% when :showroom_commerce_hybrid %>
    <div class="grid gap-2">
      <div class="grid grid-cols-[1fr_.42fr] gap-2">
        <span class="h-20 rounded bg-[#cfd8e3]"></span>
        <div class="grid gap-2 rounded bg-[#84cc16] p-2">
          <span class="h-4 rounded bg-black/45"></span>
          <span class="h-10 rounded bg-black/10"></span>
        </div>
      </div>
      <div class="grid grid-cols-4 gap-2">
        <% 4.times do %>
          <span class="h-10 rounded bg-white"></span>
        <% end %>
      </div>
    </div>
  <% when :trust_first_homepage %>
    <div class="grid gap-2">
      <div class="grid grid-cols-4 gap-2">
        <% 4.times do |index| %>
          <span class="h-12 rounded <%= index.zero? ? "bg-[#84cc16]" : "bg-white" %>"></span>
        <% end %>
      </div>
      <div class="grid grid-cols-[1fr_.7fr] gap-2">
        <div class="grid gap-2 rounded bg-[#111510] p-2">
          <span class="h-5 rounded bg-white"></span>
          <span class="h-3 rounded bg-white/35"></span>
        </div>
        <span class="rounded bg-[#cfd8e3]"></span>
      </div>
    </div>
  <% when :problem_solution_page %>
    <div class="grid grid-cols-2 gap-2">
      <div class="grid gap-2 rounded bg-white p-2">
        <span class="h-5 rounded bg-[#111510]"></span>
        <% 3.times do %>
          <span class="h-8 rounded bg-[#e4e8dc]"></span>
        <% end %>
      </div>
      <div class="grid gap-2 rounded bg-[#84cc16] p-2">
        <span class="h-5 rounded bg-black/55"></span>
        <% 3.times do %>
          <span class="h-8 rounded bg-black/10"></span>
        <% end %>
      </div>
    </div>
  <% when :advisory_landing %>
    <div class="grid grid-cols-[.42fr_1fr] gap-2">
      <div class="grid content-center gap-2">
        <span class="h-3 w-1/3 rounded bg-[#84cc16]"></span>
        <span class="h-8 rounded bg-[#111510]"></span>
        <span class="h-3 rounded bg-[#6b725f]"></span>
        <span class="h-7 w-1/2 rounded bg-[#84cc16]"></span>
      </div>
      <div class="grid gap-2">
        <span class="h-16 rounded bg-[#cfd8e3]"></span>
        <div class="grid grid-cols-3 gap-2">
          <% 3.times do %>
            <span class="h-12 rounded bg-white"></span>
          <% end %>
        </div>
      </div>
    </div>
  <% when :comparison_marketplace %>
    <div class="grid gap-2">
      <span class="h-7 rounded bg-[#111510]"></span>
      <div class="grid grid-cols-4 gap-2">
        <span class="rounded bg-[#e4e8dc]"></span>
        <% 3.times do |index| %>
          <span class="rounded <%= index == 2 ? "bg-[#84cc16]" : "bg-white" %>"></span>
        <% end %>
      </div>
      <div class="grid grid-cols-4 gap-2">
        <% 8.times do %>
          <span class="h-4 rounded bg-white"></span>
        <% end %>
      </div>
    </div>
  <% when :installation_services_page %>
    <div class="grid grid-cols-[.34fr_1fr] gap-2">
      <div class="grid gap-2 rounded bg-[#84cc16] p-2">
        <span class="h-5 rounded bg-black/45"></span>
        <span class="h-16 rounded bg-black/10"></span>
        <span class="h-3 rounded bg-black/25"></span>
      </div>
      <div class="grid gap-2">
        <% 4.times do |index| %>
          <div class="grid grid-cols-[2rem_1fr] gap-2 rounded bg-white p-2">
            <span class="h-7 w-7 rounded-full <%= index.zero? ? "bg-[#84cc16]" : "bg-[#cfd8e3]" %>"></span>
            <span class="self-center h-3 rounded bg-[#111510]"></span>
          </div>
        <% end %>
      </div>
    </div>
  <% when :category_education_hub %>
    <div class="grid gap-2">
      <div class="grid grid-cols-[1fr_.45fr] gap-2">
        <div class="grid gap-2 rounded bg-white p-2">
          <span class="h-6 rounded bg-[#111510]"></span>
          <span class="h-4 rounded bg-[#d8dccf]"></span>
          <span class="h-12 rounded bg-[#cfd8e3]"></span>
        </div>
        <span class="rounded bg-[#84cc16]"></span>
      </div>
      <div class="grid grid-cols-3 gap-2">
        <% 3.times do %>
          <span class="h-10 rounded bg-white"></span>
        <% end %>
      </div>
    </div>
  <% when :seasonal_campaign_hub %>
    <div class="grid gap-2">
      <div class="grid grid-cols-[1fr_.34fr] gap-2">
        <div class="grid content-center gap-2 rounded bg-[#84cc16] p-3">
          <span class="h-3 w-1/4 rounded bg-black/35"></span>
          <span class="h-8 rounded bg-black/70"></span>
        </div>
        <span class="rounded bg-[#111510]"></span>
      </div>
      <div class="grid grid-cols-4 gap-2">
        <% 4.times do %>
          <span class="h-10 rounded bg-white"></span>
        <% end %>
      </div>
    </div>
  <% when :regional_landing_page %>
    <div class="grid grid-cols-[.4fr_1fr] gap-2">
      <div class="grid gap-2 rounded bg-[#84cc16] p-2">
        <span class="h-8 rounded bg-black/60"></span>
        <span class="h-20 rounded bg-black/10"></span>
      </div>
      <div class="grid gap-2">
        <span class="h-8 rounded bg-[#111510]"></span>
        <div class="grid grid-cols-3 gap-2">
          <% 6.times do %>
            <span class="rounded bg-white"></span>
          <% end %>
        </div>
      </div>
    </div>
  <% when :maintenance_sav_hub %>
    <div class="grid grid-cols-[.38fr_1fr] gap-2">
      <div class="grid gap-2 rounded bg-[#111510] p-2">
        <span class="h-5 rounded bg-[#84cc16]"></span>
        <span class="h-14 rounded bg-white/15"></span>
        <span class="h-7 rounded border border-white/35"></span>
      </div>
      <div class="grid gap-2">
        <% 4.times do |index| %>
          <span class="rounded <%= index == 1 ? "bg-[#84cc16]" : "bg-white" %>"></span>
        <% end %>
      </div>
    </div>
  <% when :financing_offer_page %>
    <div class="grid grid-cols-[1fr_.42fr] gap-2">
      <div class="grid gap-2 rounded bg-white p-2">
        <span class="h-6 rounded bg-[#111510]"></span>
        <div class="grid grid-cols-3 gap-2">
          <span class="h-16 rounded bg-[#84cc16]"></span>
          <span class="h-16 rounded bg-[#e4e8dc]"></span>
          <span class="h-16 rounded bg-[#e4e8dc]"></span>
        </div>
        <span class="h-6 rounded bg-[#d8dccf]"></span>
      </div>
      <span class="rounded bg-[#cfd8e3]"></span>
    </div>
  <% when :inspiration_gallery_page %>
    <div class="grid grid-cols-5 grid-rows-4 gap-2">
      <span class="col-span-2 row-span-2 rounded bg-[#cfd8e3]"></span>
      <span class="col-span-3 rounded bg-[#111510]"></span>
      <span class="rounded bg-white"></span>
      <span class="rounded bg-[#84cc16]"></span>
      <span class="rounded bg-white"></span>
      <span class="col-span-2 row-span-2 rounded bg-[#cfd8e3]"></span>
      <span class="col-span-3 rounded bg-white"></span>
    </div>
  <% when :search_first_catalogue %>
    <div class="grid gap-2">
      <div class="grid grid-cols-[1fr_auto] gap-2 rounded bg-white p-2">
        <span class="h-9 rounded border border-[#d8dccf] bg-[#f7f8f1]"></span>
        <span class="h-9 w-20 rounded bg-[#84cc16]"></span>
      </div>
      <div class="grid grid-cols-[.28fr_1fr] gap-2">
        <span class="rounded bg-[#e4e8dc]"></span>
        <div class="grid grid-cols-4 gap-2">
          <% 8.times do %>
            <span class="rounded bg-white"></span>
          <% end %>
        </div>
      </div>
    </div>
  <% when :progressive_disclosure_page %>
    <div class="grid gap-2">
      <span class="h-8 rounded bg-[#111510]"></span>
      <% 3.times do |index| %>
        <div class="grid grid-cols-[1fr_auto] gap-2 rounded <%= index.zero? ? "bg-[#84cc16]" : "bg-white" %> p-2">
          <span class="h-4 rounded bg-black/45"></span>
          <span class="h-4 w-8 rounded bg-black/15"></span>
        </div>
      <% end %>
    </div>
  <% when :multi_entry_homepage %>
    <div class="grid gap-2">
      <span class="h-8 rounded bg-[#111510]"></span>
      <div class="grid grid-cols-4 gap-2">
        <% 4.times do |index| %>
          <div class="grid gap-2 rounded <%= index.zero? ? "bg-[#84cc16]" : "bg-white" %> p-2">
            <span class="h-5 rounded bg-black/30"></span>
            <span class="h-12 rounded bg-black/10"></span>
          </div>
        <% end %>
      </div>
    </div>
  <% when :proof_archive_page %>
    <div class="grid grid-cols-[.34fr_1fr] gap-2">
      <div class="grid gap-2 rounded bg-[#84cc16] p-2">
        <span class="h-5 rounded bg-black/50"></span>
        <span class="h-20 rounded bg-black/10"></span>
      </div>
      <div class="grid grid-cols-3 gap-2">
        <% 9.times do |index| %>
          <span class="rounded <%= index == 4 ? "bg-[#111510]" : "bg-white" %>"></span>
        <% end %>
      </div>
    </div>
  <% when :minimal_conversion_page %>
    <div class="grid content-center gap-3">
      <span class="mx-auto h-3 w-1/4 rounded bg-[#84cc16]"></span>
      <span class="mx-auto h-9 w-2/3 rounded bg-[#111510]"></span>
      <span class="mx-auto h-4 w-1/2 rounded bg-[#d8dccf]"></span>
      <span class="mx-auto h-9 w-1/3 rounded bg-[#84cc16]"></span>
    </div>
  <% when :hero_split %>
    <div class="grid grid-cols-2 gap-3">
      <div class="grid content-center gap-2">
        <span class="h-3 w-1/3 rounded bg-[#84cc16]"></span>
        <span class="h-6 rounded bg-[#111510]"></span>
        <span class="h-3 rounded bg-[#d8dccf]"></span>
        <span class="h-7 w-1/2 rounded bg-[#84cc16]"></span>
      </div>
      <span class="rounded bg-[#cfd8e3]"></span>
    </div>
  <% when :hero_panel_media %>
    <div class="grid grid-cols-2 gap-3">
      <span class="rounded bg-[#84cc16]"></span>
      <span class="rounded bg-[#cfd8e3]"></span>
    </div>
  <% when :feature_grid %>
    <div class="grid grid-cols-3 gap-2">
      <% 3.times do %>
        <div class="grid gap-2 rounded bg-white p-2">
          <span class="h-4 w-1/4 rounded bg-[#84cc16]"></span>
          <span class="h-4 rounded bg-[#111510]"></span>
          <span class="h-3 rounded bg-[#d8dccf]"></span>
          <span class="h-3 w-2/3 rounded bg-[#d8dccf]"></span>
        </div>
      <% end %>
    </div>
  <% when :proof_strip %>
    <div class="grid content-center gap-3">
      <span class="h-8 rounded bg-[#111510]"></span>
      <div class="grid grid-cols-4 gap-2">
        <% 4.times do %>
          <span class="h-14 rounded bg-white"></span>
        <% end %>
      </div>
    </div>
  <% when :media_text %>
    <div class="grid grid-cols-[.9fr_1fr] gap-3">
      <span class="rounded bg-[#cfd8e3]"></span>
      <div class="grid content-center gap-2">
        <span class="h-4 w-1/3 rounded bg-[#84cc16]"></span>
        <span class="h-6 rounded bg-[#111510]"></span>
        <span class="h-3 rounded bg-[#d8dccf]"></span>
        <span class="h-3 w-3/4 rounded bg-[#d8dccf]"></span>
      </div>
    </div>
  <% when :text_media %>
    <div class="grid grid-cols-[1fr_.9fr] gap-3">
      <div class="grid content-center gap-2">
        <span class="h-4 w-1/3 rounded bg-[#84cc16]"></span>
        <span class="h-6 rounded bg-[#111510]"></span>
        <span class="h-3 rounded bg-[#d8dccf]"></span>
        <span class="h-3 w-2/3 rounded bg-[#d8dccf]"></span>
      </div>
      <span class="rounded bg-[#cfd8e3]"></span>
    </div>
  <% when :comparison_row %>
    <div class="grid grid-cols-3 gap-2">
      <% 3.times do |index| %>
        <div class="grid gap-2 rounded <%= index == 1 ? "bg-[#84cc16]" : "bg-white" %> p-2">
          <span class="h-4 rounded bg-black/30"></span>
          <span class="h-12 rounded bg-black/10"></span>
          <span class="h-3 rounded bg-black/25"></span>
        </div>
      <% end %>
    </div>
  <% when :process_steps %>
    <div class="grid grid-cols-4 items-center gap-2">
      <% 4.times do |index| %>
        <div class="grid gap-2">
          <span class="mx-auto grid h-8 w-8 place-items-center rounded-full bg-[#84cc16] text-[0.6rem] font-black text-[#1d2a08]"><%= index + 1 %></span>
          <span class="h-12 rounded bg-white"></span>
        </div>
      <% end %>
    </div>
  <% when :product_band %>
    <div class="grid grid-cols-[.58fr_1fr] gap-3">
      <div class="grid content-center gap-2">
        <span class="h-4 rounded bg-[#84cc16]"></span>
        <span class="h-5 rounded bg-[#111510]"></span>
      </div>
      <div class="grid grid-cols-3 gap-2">
        <span class="rounded bg-white"></span>
        <span class="rounded bg-white"></span>
        <span class="rounded bg-white"></span>
      </div>
    </div>
  <% when :compact_cta %>
    <div class="grid content-center rounded bg-[#111510] p-4">
      <span class="mb-2 h-3 w-1/4 rounded bg-[#84cc16]"></span>
      <span class="mb-3 h-6 w-3/4 rounded bg-white"></span>
      <div class="flex gap-2">
        <span class="h-8 w-28 rounded bg-[#84cc16]"></span>
        <span class="h-8 w-24 rounded border border-white/35"></span>
      </div>
    </div>
  <% when :diagnostic_chooser %>
    <div class="grid gap-2">
      <span class="h-8 rounded bg-[#111510]"></span>
      <div class="grid grid-cols-4 gap-2">
        <% 4.times do |index| %>
          <span class="h-20 rounded <%= index.zero? ? "bg-[#84cc16]" : "bg-white" %>"></span>
        <% end %>
      </div>
      <span class="h-6 rounded bg-[#e4e8dc]"></span>
    </div>
  <% when :split_proof_stack %>
    <div class="grid grid-cols-[1fr_.38fr] gap-2">
      <div class="grid content-center gap-2 rounded bg-[#111510] p-3">
        <span class="h-3 w-1/4 rounded bg-[#84cc16]"></span>
        <span class="h-7 rounded bg-white"></span>
        <span class="h-3 rounded bg-white/35"></span>
      </div>
      <div class="grid gap-2">
        <% 3.times do |index| %>
          <span class="rounded <%= index == 1 ? "bg-[#84cc16]" : "bg-white" %>"></span>
        <% end %>
      </div>
    </div>
  <% when :category_rail %>
    <div class="grid grid-cols-[.34fr_1fr] gap-2">
      <div class="grid gap-2">
        <% 5.times do |index| %>
          <span class="rounded <%= index.zero? ? "bg-[#84cc16]" : "bg-white" %>"></span>
        <% end %>
      </div>
      <div class="grid gap-2">
        <span class="h-10 rounded bg-[#111510]"></span>
        <div class="grid grid-cols-3 gap-2">
          <% 6.times do %>
            <span class="rounded bg-white"></span>
          <% end %>
        </div>
      </div>
    </div>
  <% when :sticky_compare %>
    <div class="grid grid-cols-[.34fr_1fr] gap-2">
      <span class="rounded bg-[#111510]"></span>
      <div class="grid grid-cols-3 gap-2">
        <% 6.times do |index| %>
          <span class="rounded <%= index == 1 ? "bg-[#84cc16]" : "bg-white" %>"></span>
        <% end %>
      </div>
    </div>
  <% when :gallery_statement %>
    <div class="grid grid-cols-[1fr_.38fr] gap-2">
      <div class="grid grid-cols-3 gap-2">
        <span class="col-span-2 row-span-2 rounded bg-[#cfd8e3]"></span>
        <span class="rounded bg-white"></span>
        <span class="rounded bg-white"></span>
        <span class="col-span-3 rounded bg-[#84cc16]"></span>
      </div>
      <div class="grid content-center gap-2">
        <span class="h-5 rounded bg-[#111510]"></span>
        <span class="h-3 rounded bg-[#d8dccf]"></span>
        <span class="h-3 w-2/3 rounded bg-[#d8dccf]"></span>
      </div>
    </div>
  <% when :trust_cluster %>
    <div class="grid grid-cols-4 gap-2">
      <span class="col-span-2 row-span-2 rounded bg-[#84cc16]"></span>
      <span class="rounded bg-white"></span>
      <span class="rounded bg-white"></span>
      <span class="rounded bg-[#111510]"></span>
      <span class="rounded bg-[#cfd8e3]"></span>
      <span class="col-span-4 rounded bg-white"></span>
    </div>
  <% when :faq_preview %>
    <div class="grid grid-cols-[.42fr_1fr] gap-2">
      <div class="grid content-center gap-2">
        <span class="h-4 w-1/3 rounded bg-[#84cc16]"></span>
        <span class="h-8 rounded bg-[#111510]"></span>
      </div>
      <div class="grid gap-2">
        <% 4.times do |index| %>
          <div class="grid grid-cols-[1fr_auto] gap-2 rounded bg-white p-2">
            <span class="h-3 rounded bg-[#111510]"></span>
            <span class="h-3 w-5 rounded <%= index.zero? ? "bg-[#84cc16]" : "bg-[#d8dccf]" %>"></span>
          </div>
        <% end %>
      </div>
    </div>
  <% when :quote_mini_funnel %>
    <div class="grid grid-cols-[.42fr_1fr] gap-2">
      <span class="rounded bg-[#84cc16]"></span>
      <div class="grid gap-2 rounded bg-white p-2">
        <span class="h-4 rounded bg-[#111510]"></span>
        <span class="h-8 rounded border border-[#d8dccf] bg-[#f7f8f1]"></span>
        <span class="h-8 rounded border border-[#d8dccf] bg-[#f7f8f1]"></span>
        <span class="h-7 w-1/3 rounded bg-[#84cc16]"></span>
      </div>
    </div>
  <% when :before_after_band %>
    <div class="grid gap-2">
      <div class="grid grid-cols-2 gap-2">
        <span class="h-24 rounded bg-[#cfd8e3]"></span>
        <span class="h-24 rounded bg-[#84cc16]"></span>
      </div>
      <div class="grid grid-cols-[1fr_auto_1fr] gap-2">
        <span class="h-5 rounded bg-[#d8dccf]"></span>
        <span class="h-5 w-8 rounded bg-[#111510]"></span>
        <span class="h-5 rounded bg-[#d8dccf]"></span>
      </div>
    </div>
  <% when :local_showroom_strip %>
    <div class="grid grid-cols-[.34fr_1fr_.34fr] gap-2">
      <span class="rounded bg-[#84cc16]"></span>
      <div class="grid gap-2 rounded bg-white p-2">
        <span class="h-5 rounded bg-[#111510]"></span>
        <span class="h-16 rounded bg-[#cfd8e3]"></span>
        <span class="h-3 rounded bg-[#d8dccf]"></span>
      </div>
      <div class="grid gap-2">
        <span class="rounded bg-white"></span>
        <span class="rounded bg-[#111510]"></span>
      </div>
    </div>
  <% when :hero_decision_cards %>
    <div class="grid gap-2">
      <div class="grid grid-cols-[1fr_.55fr] gap-2">
        <div class="grid content-center gap-2">
          <span class="h-4 w-1/4 rounded bg-[#84cc16]"></span>
          <span class="h-8 rounded bg-[#111510]"></span>
          <span class="h-3 rounded bg-[#d8dccf]"></span>
        </div>
        <span class="rounded bg-[#cfd8e3]"></span>
      </div>
      <div class="grid grid-cols-3 gap-2">
        <% 3.times do |index| %>
          <span class="h-10 rounded <%= index.zero? ? "bg-[#84cc16]" : "bg-white" %>"></span>
        <% end %>
      </div>
    </div>
  <% when :hero_local_proof_rail %>
    <div class="grid grid-cols-[1fr_.28fr] gap-2">
      <div class="grid content-center gap-2 rounded bg-[#111510] p-3">
        <span class="h-3 w-1/4 rounded bg-[#84cc16]"></span>
        <span class="h-8 rounded bg-white"></span>
        <span class="h-3 rounded bg-white/35"></span>
      </div>
      <div class="grid gap-2">
        <% 4.times do |index| %>
          <span class="rounded <%= index == 1 ? "bg-[#84cc16]" : "bg-white" %>"></span>
        <% end %>
      </div>
    </div>
  <% when :hero_quote_form %>
    <div class="grid grid-cols-[.48fr_1fr] gap-2">
      <div class="grid content-center gap-2 rounded bg-[#84cc16] p-3">
        <span class="h-4 rounded bg-black/35"></span>
        <span class="h-8 rounded bg-black/70"></span>
        <span class="h-3 rounded bg-black/25"></span>
      </div>
      <div class="grid gap-2 rounded bg-white p-2">
        <span class="h-8 rounded border border-[#d8dccf] bg-[#f7f8f1]"></span>
        <span class="h-8 rounded border border-[#d8dccf] bg-[#f7f8f1]"></span>
        <span class="h-7 w-1/2 rounded bg-[#84cc16]"></span>
      </div>
    </div>
  <% when :media_grid_intro %>
    <div class="grid grid-cols-[.42fr_1fr] gap-2">
      <div class="grid content-center gap-2">
        <span class="h-4 w-1/3 rounded bg-[#84cc16]"></span>
        <span class="h-6 rounded bg-[#111510]"></span>
        <span class="h-3 rounded bg-[#d8dccf]"></span>
      </div>
      <div class="grid grid-cols-3 grid-rows-3 gap-2">
        <span class="col-span-2 row-span-2 rounded bg-[#cfd8e3]"></span>
        <span class="rounded bg-white"></span>
        <span class="rounded bg-[#84cc16]"></span>
        <span class="col-span-2 rounded bg-white"></span>
      </div>
    </div>
  <% when :category_decision_matrix %>
    <div class="grid gap-2">
      <span class="h-6 rounded bg-[#111510]"></span>
      <div class="grid grid-cols-4 gap-2">
        <% 8.times do |index| %>
          <span class="h-12 rounded <%= index == 4 ? "bg-[#84cc16]" : "bg-white" %>"></span>
        <% end %>
      </div>
    </div>
  <% when :product_family_carousel %>
    <div class="grid content-center gap-2">
      <div class="grid grid-cols-[auto_1fr_auto] gap-2">
        <span class="h-20 w-8 rounded bg-[#111510]"></span>
        <div class="grid grid-cols-3 gap-2 overflow-hidden">
          <% 3.times do |index| %>
            <span class="rounded <%= index == 1 ? "bg-[#84cc16]" : "bg-white" %>"></span>
          <% end %>
        </div>
        <span class="h-20 w-8 rounded bg-[#111510]"></span>
      </div>
      <span class="mx-auto h-3 w-24 rounded bg-[#d8dccf]"></span>
    </div>
  <% when :service_promise_row %>
    <div class="grid content-center gap-2">
      <span class="h-7 w-1/2 rounded bg-[#111510]"></span>
      <div class="grid grid-cols-4 gap-2">
        <% 4.times do |index| %>
          <div class="grid gap-2 rounded <%= index.zero? ? "bg-[#84cc16]" : "bg-white" %> p-2">
            <span class="h-5 rounded bg-black/25"></span>
            <span class="h-3 rounded bg-black/15"></span>
          </div>
        <% end %>
      </div>
    </div>
  <% when :installation_timeline %>
    <div class="grid content-center gap-3">
      <div class="grid grid-cols-5 items-center gap-2">
        <% 5.times do |index| %>
          <span class="h-8 rounded-full <%= index.zero? ? "bg-[#84cc16]" : "bg-white" %>"></span>
        <% end %>
      </div>
      <div class="grid grid-cols-5 gap-2">
        <% 5.times do %>
          <span class="h-16 rounded bg-white"></span>
        <% end %>
      </div>
    </div>
  <% when :credentials_band %>
    <div class="grid content-center rounded bg-[#111510] p-3">
      <span class="mb-3 h-5 w-1/3 rounded bg-white"></span>
      <div class="grid grid-cols-5 gap-2">
        <% 5.times do |index| %>
          <span class="h-16 rounded <%= index == 2 ? "bg-[#84cc16]" : "bg-white/18" %>"></span>
        <% end %>
      </div>
    </div>
  <% when :testimonial_wall %>
    <div class="grid grid-cols-3 gap-2">
      <% 6.times do |index| %>
        <div class="grid gap-2 rounded <%= index == 1 ? "bg-[#84cc16]" : "bg-white" %> p-2">
          <span class="h-3 rounded bg-black/35"></span>
          <span class="h-8 rounded bg-black/10"></span>
          <span class="h-3 w-1/2 rounded bg-black/25"></span>
        </div>
      <% end %>
    </div>
  <% when :map_contact_strip %>
    <div class="grid grid-cols-[1fr_.45fr] gap-2">
      <span class="rounded bg-[#cfd8e3]"></span>
      <div class="grid content-center gap-2 rounded bg-white p-2">
        <span class="h-4 rounded bg-[#84cc16]"></span>
        <span class="h-5 rounded bg-[#111510]"></span>
        <span class="h-3 rounded bg-[#d8dccf]"></span>
        <span class="h-7 rounded bg-[#84cc16]"></span>
      </div>
    </div>
  <% when :pricing_offer_teaser %>
    <div class="grid grid-cols-[.42fr_1fr] gap-2">
      <div class="grid content-center gap-2">
        <span class="h-4 rounded bg-[#84cc16]"></span>
        <span class="h-7 rounded bg-[#111510]"></span>
      </div>
      <div class="grid grid-cols-3 gap-2">
        <% 3.times do |index| %>
          <div class="grid gap-2 rounded <%= index == 1 ? "bg-[#84cc16]" : "bg-white" %> p-2">
            <span class="h-6 rounded bg-black/50"></span>
            <span class="h-14 rounded bg-black/10"></span>
          </div>
        <% end %>
      </div>
    </div>
  <% when :problem_cards %>
    <div class="grid gap-2">
      <span class="h-6 rounded bg-[#111510]"></span>
      <div class="grid grid-cols-4 gap-2">
        <% 4.times do |index| %>
          <div class="grid gap-2 rounded <%= index.zero? ? "bg-[#84cc16]" : "bg-white" %> p-2">
            <span class="h-4 rounded bg-black/35"></span>
            <span class="h-14 rounded bg-black/10"></span>
          </div>
        <% end %>
      </div>
    </div>
  <% when :solution_stack %>
    <div class="grid grid-cols-[.36fr_1fr] gap-2">
      <span class="rounded bg-[#84cc16]"></span>
      <div class="grid gap-2">
        <% 4.times do |index| %>
          <div class="grid grid-cols-[2rem_1fr] gap-2 rounded bg-white p-2">
            <span class="h-7 rounded <%= index.zero? ? "bg-[#84cc16]" : "bg-[#cfd8e3]" %>"></span>
            <span class="self-center h-4 rounded bg-[#111510]"></span>
          </div>
        <% end %>
      </div>
    </div>
  <% when :resource_links_strip %>
    <div class="grid content-center gap-2">
      <span class="h-7 w-1/2 rounded bg-[#111510]"></span>
      <div class="grid grid-cols-4 gap-2">
        <% 4.times do |index| %>
          <div class="grid gap-2 rounded bg-white p-2">
            <span class="h-8 rounded <%= index.zero? ? "bg-[#84cc16]" : "bg-[#cfd8e3]" %>"></span>
            <span class="h-3 rounded bg-[#111510]"></span>
          </div>
        <% end %>
      </div>
    </div>
  <% when :gallery_mosaic %>
    <div class="grid grid-cols-5 grid-rows-4 gap-2">
      <span class="col-span-2 row-span-2 rounded bg-[#cfd8e3]"></span>
      <span class="col-span-2 rounded bg-[#84cc16]"></span>
      <span class="row-span-2 rounded bg-white"></span>
      <span class="rounded bg-white"></span>
      <span class="rounded bg-[#cfd8e3]"></span>
      <span class="col-span-3 rounded bg-white"></span>
      <span class="col-span-2 rounded bg-[#111510]"></span>
    </div>
  <% when :before_after_compare %>
    <div class="grid gap-2">
      <div class="grid grid-cols-[1fr_auto_1fr] gap-2">
        <span class="h-24 rounded bg-[#cfd8e3]"></span>
        <span class="h-24 w-7 rounded bg-[#111510]"></span>
        <span class="h-24 rounded bg-[#84cc16]"></span>
      </div>
      <div class="grid grid-cols-2 gap-2">
        <span class="h-5 rounded bg-white"></span>
        <span class="h-5 rounded bg-white"></span>
      </div>
    </div>
  <% when :faq_accordion_block %>
    <div class="grid gap-2">
      <span class="h-6 rounded bg-[#111510]"></span>
      <% 4.times do |index| %>
        <div class="grid grid-cols-[1fr_auto] gap-2 rounded bg-white p-2">
          <span class="h-3 rounded bg-[#111510]"></span>
          <span class="h-3 w-6 rounded <%= index.zero? ? "bg-[#84cc16]" : "bg-[#d8dccf]" %>"></span>
        </div>
      <% end %>
    </div>
  <% when :sticky_cta_band %>
    <div class="grid content-center rounded bg-[#111510] p-3">
      <div class="grid grid-cols-[1fr_auto] items-center gap-3">
        <div class="grid gap-2">
          <span class="h-5 rounded bg-white"></span>
          <span class="h-3 w-2/3 rounded bg-white/35"></span>
        </div>
        <span class="h-10 w-28 rounded bg-[#84cc16]"></span>
      </div>
    </div>
  <% when :closing_reassurance_block %>
    <div class="grid gap-2 rounded bg-white p-3">
      <span class="h-7 rounded bg-[#111510]"></span>
      <div class="grid grid-cols-3 gap-2">
        <% 3.times do |index| %>
          <span class="h-14 rounded <%= index.zero? ? "bg-[#84cc16]" : "bg-[#e4e8dc]" %>"></span>
        <% end %>
      </div>
      <span class="h-8 w-1/3 rounded bg-[#84cc16]"></span>
    </div>
  <% when :media_top_card %>
    <div class="grid max-w-[160px] gap-2 rounded bg-white p-2">
      <span class="h-20 rounded bg-[#cfd8e3]"></span>
      <span class="h-4 rounded bg-[#111510]"></span>
      <span class="h-3 w-2/3 rounded bg-[#d8dccf]"></span>
    </div>
  <% when :media_side_card %>
    <div class="grid grid-cols-[.44fr_1fr] gap-2 rounded bg-white p-2">
      <span class="rounded bg-[#cfd8e3]"></span>
      <div class="grid content-center gap-2">
        <span class="h-4 rounded bg-[#111510]"></span>
        <span class="h-3 rounded bg-[#d8dccf]"></span>
        <span class="h-3 w-2/3 rounded bg-[#d8dccf]"></span>
      </div>
    </div>
  <% when :stat_cell %>
    <div class="grid content-center gap-2 rounded bg-white p-3">
      <span class="h-3 w-1/4 rounded bg-[#84cc16]"></span>
      <span class="h-8 w-1/2 rounded bg-[#111510]"></span>
      <span class="h-3 w-3/4 rounded bg-[#d8dccf]"></span>
    </div>
  <% when :icon_list_item %>
    <div class="grid content-center gap-2">
      <% 3.times do %>
        <div class="grid grid-cols-[2rem_1fr] gap-2 rounded bg-white p-2">
          <span class="h-8 w-8 rounded bg-[#84cc16]"></span>
          <span class="self-center h-4 rounded bg-[#111510]"></span>
        </div>
      <% end %>
    </div>
  <% when :badge_row %>
    <div class="flex content-center items-center gap-2">
      <span class="h-7 w-20 rounded-full bg-[#84cc16]"></span>
      <span class="h-7 w-24 rounded-full bg-white"></span>
      <span class="h-7 w-16 rounded-full bg-white"></span>
      <span class="h-7 w-28 rounded-full bg-[#e4e8dc]"></span>
    </div>
  <% when :button_row %>
    <div class="grid content-center gap-3">
      <span class="h-5 w-2/3 rounded bg-[#111510]"></span>
      <div class="flex gap-2">
        <span class="h-9 w-32 rounded bg-[#84cc16]"></span>
        <span class="h-9 w-28 rounded border border-[#111510]/25 bg-white"></span>
      </div>
    </div>
  <% when :meta_row %>
    <div class="grid content-center gap-2">
      <% 3.times do %>
        <div class="grid grid-cols-[.32fr_1fr_.28fr] gap-2 rounded bg-white p-2">
          <span class="h-3 rounded bg-[#84cc16]"></span>
          <span class="h-3 rounded bg-[#111510]"></span>
          <span class="h-3 rounded bg-[#d8dccf]"></span>
        </div>
      <% end %>
    </div>
  <% when :label_value %>
    <div class="grid grid-cols-2 gap-2">
      <% 4.times do %>
        <div class="grid gap-2 rounded bg-white p-2">
          <span class="h-3 w-1/2 rounded bg-[#84cc16]"></span>
          <span class="h-5 rounded bg-[#111510]"></span>
        </div>
      <% end %>
    </div>
  <% when :mini_timeline %>
    <div class="grid grid-cols-[1.2rem_1fr] gap-3">
      <div class="grid justify-center">
        <span class="h-5 w-5 rounded-full bg-[#84cc16]"></span>
        <span class="mx-auto h-8 w-px bg-[#111510]/20"></span>
        <span class="h-5 w-5 rounded-full bg-[#84cc16]"></span>
        <span class="mx-auto h-8 w-px bg-[#111510]/20"></span>
        <span class="h-5 w-5 rounded-full bg-[#84cc16]"></span>
      </div>
      <div class="grid gap-2">
        <span class="rounded bg-white"></span>
        <span class="rounded bg-white"></span>
        <span class="rounded bg-white"></span>
      </div>
    </div>
  <% when :form_row %>
    <div class="grid content-center gap-2 rounded bg-white p-3">
      <span class="h-3 w-1/4 rounded bg-[#111510]"></span>
      <span class="h-9 rounded border border-[#d8dccf] bg-[#f7f8f1]"></span>
      <div class="grid grid-cols-[1fr_auto] gap-2">
        <span class="h-3 self-center rounded bg-[#d8dccf]"></span>
        <span class="h-8 w-24 rounded bg-[#84cc16]"></span>
      </div>
    </div>
  <% when :compact_product_tile %>
    <div class="grid content-center">
      <div class="grid max-w-[190px] grid-cols-[.44fr_1fr] gap-2 rounded bg-white p-2">
        <span class="h-24 rounded bg-[#cfd8e3]"></span>
        <div class="grid content-center gap-2">
          <span class="h-4 rounded bg-[#111510]"></span>
          <span class="h-3 rounded bg-[#d8dccf]"></span>
          <span class="h-6 w-2/3 rounded bg-[#84cc16]"></span>
        </div>
      </div>
    </div>
  <% when :option_selector_row %>
    <div class="grid content-center gap-2">
      <% 3.times do |index| %>
        <div class="grid grid-cols-[2rem_1fr_auto] gap-2 rounded <%= index.zero? ? "bg-[#84cc16]" : "bg-white" %> p-2">
          <span class="h-7 w-7 rounded bg-black/15"></span>
          <span class="self-center h-3 rounded bg-[#111510]"></span>
          <span class="h-7 w-7 rounded border border-[#111510]/25"></span>
        </div>
      <% end %>
    </div>
  <% when :trust_badge_cell %>
    <div class="grid content-center">
      <div class="mx-auto grid h-32 w-32 content-center gap-2 rounded-full border border-[#d8dccf] bg-white p-5">
        <span class="mx-auto h-9 w-9 rounded-full bg-[#84cc16]"></span>
        <span class="h-4 rounded bg-[#111510]"></span>
        <span class="h-3 rounded bg-[#d8dccf]"></span>
      </div>
    </div>
  <% when :inline_quote_action %>
    <div class="grid content-center gap-2 rounded bg-white p-3">
      <span class="h-4 w-2/3 rounded bg-[#111510]"></span>
      <span class="h-3 rounded bg-[#d8dccf]"></span>
      <div class="grid grid-cols-[1fr_auto] gap-2">
        <span class="h-8 rounded border border-[#d8dccf] bg-[#f7f8f1]"></span>
        <span class="h-8 w-24 rounded bg-[#84cc16]"></span>
      </div>
    </div>
  <% when :mini_comparison_cell %>
    <div class="grid grid-cols-2 gap-2">
      <% 2.times do |index| %>
        <div class="grid gap-2 rounded <%= index.zero? ? "bg-white" : "bg-[#84cc16]" %> p-2">
          <span class="h-4 rounded bg-black/45"></span>
          <span class="h-12 rounded bg-black/10"></span>
          <span class="h-3 rounded bg-black/25"></span>
        </div>
      <% end %>
    </div>
  <% when :availability_chip_group %>
    <div class="grid content-center gap-3">
      <span class="h-5 w-1/2 rounded bg-[#111510]"></span>
      <div class="flex flex-wrap gap-2">
        <span class="h-7 w-20 rounded-full bg-[#84cc16]"></span>
        <span class="h-7 w-24 rounded-full bg-white"></span>
        <span class="h-7 w-16 rounded-full bg-white"></span>
        <span class="h-7 w-28 rounded-full bg-[#e4e8dc]"></span>
        <span class="h-7 w-20 rounded-full bg-white"></span>
      </div>
    </div>
  <% when :spec_highlight_row %>
    <div class="grid content-center gap-2">
      <% 3.times do |index| %>
        <div class="grid grid-cols-[.32fr_1fr_.28fr] gap-2 rounded <%= index == 1 ? "bg-[#84cc16]" : "bg-white" %> p-2">
          <span class="h-4 rounded bg-black/35"></span>
          <span class="h-4 rounded bg-[#111510]"></span>
          <span class="h-4 rounded bg-black/15"></span>
        </div>
      <% end %>
    </div>
  <% when :step_compact_card %>
    <div class="grid content-center">
      <div class="grid max-w-[180px] gap-2 rounded bg-white p-3">
        <span class="grid h-9 w-9 place-items-center rounded-full bg-[#84cc16] text-[0.62rem] font-black text-[#1d2a08]">1</span>
        <span class="h-5 rounded bg-[#111510]"></span>
        <span class="h-3 rounded bg-[#d8dccf]"></span>
        <span class="h-3 w-2/3 rounded bg-[#d8dccf]"></span>
      </div>
    </div>
  <% when :contact_method_row %>
    <div class="grid content-center gap-2">
      <% 3.times do |index| %>
        <div class="grid grid-cols-[2rem_1fr_auto] gap-2 rounded bg-white p-2">
          <span class="h-8 w-8 rounded <%= index.zero? ? "bg-[#84cc16]" : "bg-[#cfd8e3]" %>"></span>
          <span class="self-center h-4 rounded bg-[#111510]"></span>
          <span class="h-7 w-16 rounded border border-[#d8dccf]"></span>
        </div>
      <% end %>
    </div>
  <% when :proof_quote_card %>
    <div class="grid content-center">
      <div class="grid gap-3 rounded bg-[#111510] p-4">
        <span class="h-4 w-1/4 rounded bg-[#84cc16]"></span>
        <span class="h-5 rounded bg-white"></span>
        <span class="h-5 w-5/6 rounded bg-white"></span>
        <div class="grid grid-cols-[2rem_1fr] gap-2">
          <span class="h-8 w-8 rounded-full bg-[#cfd8e3]"></span>
          <span class="self-center h-3 rounded bg-white/35"></span>
        </div>
      </div>
    </div>
  <% when :product_mini_card %>
    <div class="grid content-center">
      <div class="grid max-w-[170px] gap-2 rounded bg-white p-2">
        <span class="h-20 rounded bg-[#cfd8e3]"></span>
        <span class="h-4 rounded bg-[#111510]"></span>
        <div class="grid grid-cols-[1fr_auto] gap-2">
          <span class="h-3 rounded bg-[#d8dccf]"></span>
          <span class="h-6 w-12 rounded bg-[#84cc16]"></span>
        </div>
      </div>
    </div>
  <% when :category_mini_tile %>
    <div class="grid content-center">
      <div class="grid h-32 max-w-[180px] content-between rounded bg-[#84cc16] p-3">
        <span class="h-8 w-8 rounded bg-black/20"></span>
        <div class="grid gap-2">
          <span class="h-5 rounded bg-black/70"></span>
          <span class="h-3 w-2/3 rounded bg-black/30"></span>
        </div>
      </div>
    </div>
  <% when :service_chip %>
    <div class="grid content-center">
      <div class="flex flex-wrap gap-2">
        <% 5.times do |index| %>
          <span class="h-9 rounded-full <%= index.zero? ? "bg-[#84cc16] w-28" : "bg-white w-24" %>"></span>
        <% end %>
      </div>
    </div>
  <% when :proof_badge_row %>
    <div class="grid content-center gap-3">
      <span class="h-5 w-1/2 rounded bg-[#111510]"></span>
      <div class="grid grid-cols-4 gap-2">
        <% 4.times do |index| %>
          <span class="h-16 rounded-full <%= index == 1 ? "bg-[#84cc16]" : "bg-white" %>"></span>
        <% end %>
      </div>
    </div>
  <% when :rating_snippet %>
    <div class="grid content-center gap-3 rounded bg-white p-3">
      <div class="flex gap-1">
        <% 5.times do %>
          <span class="h-4 w-4 rounded bg-[#84cc16]"></span>
        <% end %>
      </div>
      <span class="h-5 w-2/3 rounded bg-[#111510]"></span>
      <span class="h-3 w-1/2 rounded bg-[#d8dccf]"></span>
    </div>
  <% when :quote_input_group %>
    <div class="grid content-center gap-2 rounded bg-white p-3">
      <span class="h-4 w-1/3 rounded bg-[#111510]"></span>
      <div class="grid grid-cols-[1fr_auto] gap-2">
        <span class="h-9 rounded border border-[#d8dccf] bg-[#f7f8f1]"></span>
        <span class="h-9 w-24 rounded bg-[#84cc16]"></span>
      </div>
      <span class="h-3 w-2/3 rounded bg-[#d8dccf]"></span>
    </div>
  <% when :contact_cta_chip %>
    <div class="grid content-center">
      <div class="grid grid-cols-[2rem_1fr_auto] items-center gap-2 rounded-full bg-[#111510] p-2">
        <span class="h-8 w-8 rounded-full bg-[#84cc16]"></span>
        <span class="h-4 rounded bg-white"></span>
        <span class="h-8 w-20 rounded-full border border-white/30"></span>
      </div>
    </div>
  <% when :opening_hours_cell %>
    <div class="grid content-center gap-2 rounded bg-white p-3">
      <span class="h-4 w-1/3 rounded bg-[#84cc16]"></span>
      <% 3.times do |index| %>
        <div class="grid grid-cols-[1fr_.4fr] gap-2">
          <span class="h-4 rounded bg-[#111510]"></span>
          <span class="h-4 rounded <%= index.zero? ? "bg-[#84cc16]" : "bg-[#d8dccf]" %>"></span>
        </div>
      <% end %>
    </div>
  <% when :location_mini_card %>
    <div class="grid grid-cols-[.42fr_1fr] gap-2 rounded bg-white p-2">
      <span class="rounded bg-[#cfd8e3]"></span>
      <div class="grid content-center gap-2">
        <span class="h-4 rounded bg-[#84cc16]"></span>
        <span class="h-5 rounded bg-[#111510]"></span>
        <span class="h-3 rounded bg-[#d8dccf]"></span>
        <span class="h-3 w-2/3 rounded bg-[#d8dccf]"></span>
      </div>
    </div>
  <% when :installation_step_item %>
    <div class="grid content-center">
      <div class="grid grid-cols-[2.5rem_1fr] gap-3 rounded bg-white p-3">
        <span class="grid h-10 w-10 place-items-center rounded-full bg-[#84cc16] text-[0.62rem] font-black text-[#1d2a08]">2</span>
        <div class="grid gap-2">
          <span class="h-5 rounded bg-[#111510]"></span>
          <span class="h-3 rounded bg-[#d8dccf]"></span>
          <span class="h-3 w-2/3 rounded bg-[#d8dccf]"></span>
        </div>
      </div>
    </div>
  <% when :before_after_thumb %>
    <div class="grid content-center gap-2">
      <div class="grid grid-cols-[1fr_auto_1fr] gap-2">
        <span class="h-24 rounded bg-[#cfd8e3]"></span>
        <span class="h-24 w-5 rounded bg-[#111510]"></span>
        <span class="h-24 rounded bg-[#84cc16]"></span>
      </div>
      <span class="mx-auto h-3 w-24 rounded bg-[#d8dccf]"></span>
    </div>
  <% when :option_pill_group %>
    <div class="grid content-center gap-3">
      <span class="h-5 w-2/3 rounded bg-[#111510]"></span>
      <div class="flex flex-wrap gap-2">
        <% 6.times do |index| %>
          <span class="h-8 rounded-full <%= index == 2 ? "bg-[#84cc16] w-28" : "bg-white w-20" %>"></span>
        <% end %>
      </div>
    </div>
  <% when :mini_spec_table %>
    <div class="grid content-center gap-1 rounded bg-white p-3">
      <% 4.times do |index| %>
        <div class="grid grid-cols-[.42fr_1fr] gap-2 border-b border-[#d8dccf] pb-1 last:border-b-0">
          <span class="h-3 rounded <%= index.zero? ? "bg-[#84cc16]" : "bg-[#d8dccf]" %>"></span>
          <span class="h-3 rounded bg-[#111510]"></span>
        </div>
      <% end %>
    </div>
  <% when :price_estimate_hint %>
    <div class="grid content-center gap-2 rounded bg-white p-3">
      <span class="h-3 w-1/4 rounded bg-[#84cc16]"></span>
      <span class="h-9 w-1/2 rounded bg-[#111510]"></span>
      <span class="h-3 w-3/4 rounded bg-[#d8dccf]"></span>
      <span class="h-7 w-1/3 rounded bg-[#84cc16]"></span>
    </div>
  <% when :product_status_chip %>
    <div class="grid content-center">
      <div class="grid grid-cols-[2rem_1fr_auto] items-center gap-2 rounded bg-white p-2">
        <span class="h-8 w-8 rounded bg-[#cfd8e3]"></span>
        <span class="h-4 rounded bg-[#111510]"></span>
        <span class="h-7 w-24 rounded-full bg-[#84cc16]"></span>
      </div>
    </div>
  <% when :advice_callout %>
    <div class="grid content-center rounded bg-[#84cc16] p-4">
      <span class="mb-2 h-5 w-1/3 rounded bg-black/50"></span>
      <span class="mb-2 h-4 rounded bg-black/65"></span>
      <span class="h-4 w-5/6 rounded bg-black/30"></span>
    </div>
  <% when :partner_logo_tile %>
    <div class="grid content-center">
      <div class="mx-auto grid h-28 w-40 content-center gap-2 rounded bg-white p-4">
        <span class="mx-auto h-12 w-24 rounded bg-[#cfd8e3]"></span>
        <span class="mx-auto h-3 w-20 rounded bg-[#d8dccf]"></span>
      </div>
    </div>
  <% when :testimonial_mini_card %>
    <div class="grid gap-3 rounded bg-white p-3">
      <span class="h-4 w-1/4 rounded bg-[#84cc16]"></span>
      <span class="h-5 rounded bg-[#111510]"></span>
      <span class="h-5 w-5/6 rounded bg-[#111510]"></span>
      <div class="grid grid-cols-[2rem_1fr] gap-2">
        <span class="h-8 w-8 rounded-full bg-[#cfd8e3]"></span>
        <span class="self-center h-3 rounded bg-[#d8dccf]"></span>
      </div>
    </div>
  <% when :download_doc_row %>
    <div class="grid content-center gap-2">
      <% 3.times do |index| %>
        <div class="grid grid-cols-[2rem_1fr_auto] gap-2 rounded bg-white p-2">
          <span class="h-8 w-8 rounded <%= index.zero? ? "bg-[#84cc16]" : "bg-[#cfd8e3]" %>"></span>
          <span class="self-center h-4 rounded bg-[#111510]"></span>
          <span class="h-8 w-12 rounded border border-[#d8dccf]"></span>
        </div>
      <% end %>
    </div>
  <% when :error_help_inline_row %>
    <div class="grid content-center gap-2 rounded bg-white p-3">
      <span class="h-4 w-1/3 rounded bg-[#111510]"></span>
      <span class="h-9 rounded border border-[#dc2626] bg-[#fff1f1]"></span>
      <div class="grid grid-cols-[1rem_1fr] gap-2">
        <span class="h-4 w-4 rounded-full bg-[#dc2626]"></span>
        <span class="self-center h-3 rounded bg-[#dc2626]/35"></span>
      </div>
    </div>
  <% when *%i[
    project_planner_homepage brand_partner_hub mixed_media_homepage quick_access_homepage
    visual_category_portal planner_dashboard_page random_starter_homepage
  ] %>
    <%= render "layout_wireframe_generated", family: :global_portal, pattern: pattern %>
  <% when *%i[
    need_diagnosis_page appointment_booking_page express_quote_landing product_configurator_page
    appointment_first_homepage decision_tree_page lead_magnet_landing visual_quote_builder
  ] %>
    <%= render "layout_wireframe_generated", family: :global_funnel, pattern: pattern %>
  <% when *%i[
    advisor_profile_page warranty_assurance_page local_proof_map customer_stories_hub
    proof_and_cta_page contractor_trust_page minimal_showroom_page
  ] %>
    <%= render "layout_wireframe_generated", family: :global_proof, pattern: pattern %>
  <% when *%i[
    service_comparison_page offers_index_page cross_sell_catalogue project_cost_guide
    category_comparison_index premium_offer_page
  ] %>
    <%= render "layout_wireframe_generated", family: :global_catalogue, pattern: pattern %>
  <% when *%i[
    deep_catalogue_story expert_content_hub long_scroll_landing split_catalogue_story
    product_education_funnel
  ] %>
    <%= render "layout_wireframe_generated", family: :global_story, pattern: pattern %>
  <% when *%i[
    installation_process_hub before_after_archive maintenance_request_page compact_local_landing
    urgent_repair_landing timeline_homepage service_area_hub
  ] %>
    <%= render "layout_wireframe_generated", family: :global_process, pattern: pattern %>
  <% when *%i[
    hero_media_stack hero_triple_entry floating_proof_bar quote_form_aside showroom_visit_band
    advisor_cta_panel
  ] %>
    <%= render "layout_wireframe_generated", family: :section_hero, pattern: pattern %>
  <% when *%i[
    product_option_matrix services_cards_rail trust_metrics_grid financing_cards partner_proof_strip
    feature_spotlight_grid category_moodboard material_sample_grid review_carousel
    offer_comparison_cards
  ] %>
    <%= render "layout_wireframe_generated", family: :section_grid, pattern: pattern %>
  <% when *%i[
    local_area_map_band maintenance_alert_band workshop_note_band contact_decision_row
    safety_reassurance_band availability_calendar_strip mini_docs_hub store_locator_compact
    conversion_footer_block
  ] %>
    <%= render "layout_wireframe_generated", family: :section_strip, pattern: pattern %>
  <% when *%i[
    category_stepper installation_checklist sticky_summary_block quote_progress_strip
    installation_before_proof
  ] %>
    <%= render "layout_wireframe_generated", family: :section_process, pattern: pattern %>
  <% when *%i[
    split_checklist expert_note_section comparison_table_compact project_gallery_rail
    product_finder_section story_proof_split vertical_offer_stack service_area_cards
    product_specs_spotlight random_section_stack
  ] %>
    <%= render "layout_wireframe_generated", family: :section_content, pattern: pattern %>
  <% when *%i[
    small_media_badge material_swatch_cell guarantee_mini_tile status_ribbon_card
    mini_service_card video_teaser_tile random_micro_tile
  ] %>
    <%= render "layout_wireframe_generated", family: :micro_card, pattern: pattern %>
  <% when *%i[
    checklist_item timeline_dot_row toggle_card small_compare_row inline_availability mini_map_pin
    certification_row micro_faq_item advisor_avatar_row measurement_note thumbnail_rail_item
    opening_status_dot before_after_label address_line compact_accordion_row product_recommendation_row
  ] %>
    <%= render "layout_wireframe_generated", family: :micro_row, pattern: pattern %>
  <% when *%i[
    phone_chip email_chip calendar_slot_chip product_color_row project_tag_cluster quick_action_bar
    resource_doc_pill project_area_chip numeric_proof_pill quote_summary_chip
  ] %>
    <%= render "layout_wireframe_generated", family: :micro_chip, pattern: pattern %>
  <% when *%i[
    price_badge urgency_notice success_toast_shape form_helper_block warranty_line
    feature_bullet_pair delivery_delay_cell
  ] %>
    <%= render "layout_wireframe_generated", family: :micro_notice, pattern: pattern %>
  <% else %>
    <div class="grid grid-cols-3 gap-2">
      <span class="rounded bg-white"></span>
      <span class="rounded bg-[#84cc16]"></span>
      <span class="rounded bg-white"></span>
    </div>
  <% end %>
  </div>
</div>
