<% title "Les Artisans du Store - Public V2" %>
<% description "Les Artisans du Store a L'Arbresle : protections solaires, stores, volets, portes de garage, moustiquaires et devis sur mesure." %>

<main class="pv2-home-page pv2-home-graphite grid gap-14 pb-20 pt-8 min-[821px]:gap-20">
  <%= render PublicV2::Home::HeroSectionComponent.new(home_page: @home_page, debug: true) %>
  <%= render PublicV2::Home::ExpertiseSectionComponent.new(debug: true) %>
  <%= render PublicV2::Home::CategoryGridSectionComponent.new(category_cards: @home_page.category_cards, debug: true) %>
  <%= render PublicV2::Home::ProductRowsSectionComponent.new(products: @home_page.product_rows, debug: true) %>
  <%= render PublicV2::Home::ShowroomSectionComponent.new(debug: true) %>
  <%= render PublicV2::Content::PartnersComponent.new(debug: true) %>
  <%= render PublicV2::Home::QuoteShortcutSectionComponent.new(product_options: @home_page.quote_product_options, selected_product_id: @home_page.quote_product_selected_id, debug: true) %>
</main>
