<% title "#{@category.name}" %>
<% description "Fourniture / Pose de stores , 69 , Rhône-alpes , stores extérieurs et intérieurs, moustiquaires, volets roulants, portes de garages." %>

<%= render BreadcrumbComponent.new(breadcrumbs) %>

<section class="w-full bg-white border-b border-gray-100">
  <div class="max-w-7xl mx-auto p-6 py-8">
    <h1 class="text-4xl text-gray-900 leading-[1] font-extrabold tracking-tight"><%= @category.name %></h1>
    <p class="text-md font-medium text-gray-600 mt-1"><%= @category.description %></p>
  </div>
</section>

<div class="w-full min-h-screen flex relative">
  <section class="h-screen w-60 sticky top-16 px-5 py-4 border-r border-gray-100 hidden">
    <nav class="flex flex-1 flex-col sidenav" aria-label="Sidebar">
      <ul role="list" class="flex flex-1 flex-col gap-y-7">
        <li>
          <div class="text-xs font-semibold leading-6 text-gray-400">Catégories</div>
          <ul role="list" class="-mx-2 mt-2 space-y-1">
            <% @categories.each do |category| %>
              <li>
                <%= active_link_to category_path(category), class: '"text-gray-700 hover:text-orange-500 hover:bg-gray-50 group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-medium' do %>
                  <span class="flex h-6 w-6 shrink-0 items-center justify-center rounded-lg border text-[0.625rem] font-medium bg-white text-gray-400 border-gray-200 group-hover:border-orange-500 group-hover:text-orange-600"><%= category.name.first.upcase %></span>
                  <span class="truncate"><%= category.name %></span>
                <% end %>
              </li>
            <% end %>
          </ul>
        </li>
      </ul>
    </nav>
  </section>

  <section class="h-full grow">
    <div class="bg-white">
      <%= render ProductlistComponent.new(@products) %>
    </div>
  </section>

</div>
