<div class="w-full min-h-screen flex relative">
  <section class="h-screen w-60 sticky top-16 px-5 py-4 border-r border-gray-100 hidden">
    <nav class="flex flex-1 flex-col sidenav" aria-label="Sidebar">
      <ul role="list" class="flex flex-1 flex-col gap-y-7">
        <li>
          <div class="text-xs font-semibold leading-6 text-gray-400">Catégories</div>
          <ul role="list" class="-mx-2 mt-2 space-y-1">
            <% @categories.each do |category| %>
              <li>
                <%= active_link_to category_path(category), class: '"text-gray-700 hover:text-orange-500 hover:bg-gray-50 group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-medium' do %>
                  <span class="flex h-6 w-6 shrink-0 items-center justify-center rounded-lg border text-[0.625rem] font-medium bg-white text-gray-400 border-gray-200 group-hover:border-orange-500 group-hover:text-orange-600"><%= category.name.first.upcase %></span>
                  <span class="truncate"><%= category.name %></span>
                <% end %>
              </li>
            <% end %>
          </ul>
        </li>
      </ul>
    </nav>
  </section>

  <section class="h-full grow bg-gray-50">

    <div class="md:flex md:items-center md:justify-between md:space-x-5 bg-white p-10 border-b border-gray-100">
      <div class="flex items-start space-x-5">
        <div class="flex-shrink-0">
          <div class="relative hidden">
            <img class="h-16 w-16 rounded-full" src="https://images.unsplash.com/photo-1463453091185-61582044d556?ixlib=rb-=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=8&w=1024&h=1024&q=80" alt="">
            <span class="absolute inset-0 rounded-full shadow-inner" aria-hidden="true"></span>
          </div>
        </div>
        <div class="">
          <h1 class="text-3xl font-bold text-gray-900"><%= @category.name %></h1>
          <p class="text-md font-medium text-gray-600 mt-1"><%= @category.description %></p>
        </div>
      </div>

    </div>

    <%= render BreadcrumbComponent.new(breadcrumbs) %>

    <div class="relative isolate overflow-hidden bg-gray-900 px-6 py-20 sm:py-20 lg:px-8 hidden">
      <img src="https://images.unsplash.com/photo-1521737604893-d14cc237f11d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&crop=focalpoint&fp-y=.8&w=2830&h=1500&q=80&blend=111827&sat=-100&exp=15&blend-mode=multiply" alt="" class="absolute inset-0 -z-10 h-full w-full object-cover">
      <div class="hidden sm:absolute sm:-top-10 sm:right-1/2 sm:-z-10 sm:mr-10 sm:block sm:transform-gpu sm:blur-3xl" aria-hidden="true">
        <div class="aspect-[1097/845] w-[68.5625rem] bg-gradient-to-tr from-[#ff4694] to-[#776fff] opacity-20" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
      </div>
      <div class="absolute -top-52 left-1/2 -z-10 -translate-x-1/2 transform-gpu blur-3xl sm:top-[-28rem] sm:ml-16 sm:translate-x-0 sm:transform-gpu" aria-hidden="true">
        <div class="aspect-[1097/845] w-[68.5625rem] bg-gradient-to-tr from-[#ff4694] to-[#776fff] opacity-20" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
      </div>
      <div class="mx-auto max-w-2xl text-center">
        <h2 class="text-4xl font-bold tracking-tight text-white sm:text-6xl"><%= @category.name %></h2>
        <p class="mt-6 text-lg leading-8 text-gray-300"><%= @category.description %></p>
      </div>
    </div>

    <div class="bg-white">

      <%= render ProductlistComponent.new(@category.products) %>

    </div>

  </section>
</div>
