<% title "#{@product.name}" %>
<% description "Fourniture / Pose de stores , 69 , Rhône-alpes , stores extérieurs et intérieurs, moustiquaires, volets roulants, portes de garages." %>
<% keywords "Stores, volets roulants, pergolas" %>

<%= render BreadcrumbComponent.new(breadcrumbs) %>

<section class="bg-slate-50">

  <div data-controller="reveal" class="mx-auto flex max-w-7xl flex-col gap-5 px-4 py-6 lg:px-8 lg:py-8">
    <%= render Product::HeroComponent.new(product: @product) %>
    <%= render Product::ConfigurationComponent.new(product: @product) %>
    <div class="grid grid-cols-1 gap-5 lg:grid-cols-2 lg:items-start">
      <%= render Product::ServiceComponent.new(service: @product.service) %>
      <%= render Product::DocumentationComponent.new(documentations: @product.documentations) %>
    </div>
    <%= render Product::GalleryComponent.new(photos: @product.images) %>
    <%= render Product::BottomCtaComponent.new(product: @product) %>
  </div>

</section>
