<tr id="quote_<%= quote.id %>">
  <td class="px-6 py-4 whitespace-nowrap text-xs font-semibold"><%= quote.lastname %></td>
  <td class="px-6 py-4 whitespace-nowrap text-[10px] font-medium text-gray-400"><%= I18n.l quote.created_at, format: :long %></td>
  <td class="px-6 py-4 whitespace-nowrap text-xs font-medium"><%= quote.product %></td>
  <td class="px-6 py-4 whitespace-nowrap text-xs font-medium">
    <% if quote.processed %>
      <div class="inline rounded-md whitespace-nowrap px-1.5 py-0.5 text-[10px] font-medium ring-1 ring-inset text-green-500 bg-green-50 ring-green-600/20">Traité</div>
    <% else %>
      <div class="inline rounded-md whitespace-nowrap px-1.5 py-0.5 text-[10px] font-medium ring-1 ring-inset text-red-500 bg-red-50 ring-red-600/20">Non traité</div>
    <% end %>
  </td>
  <td class="px-6 py-4 whitespace-nowrap text-xs font-medium"></td>
  <td class="px-6 py-4 whitespace-nowrap flex space-x-2 items-center">
    <% if quote.processed %>
    <% else %>
      <%= button_to "Devis traité", admin_quote_path(quote),
            method: :patch,
            params: { quote: { processed: true } },
            data: { turbo_confirm: "Marquer ce devis comme traité ?" },
            form: { data: { turbo_frame: "quotes_list" } },
            class: "rounded border border-violet-100 px-3 py-1 text-violet-700 font-medium hover:bg-violet-50 text-xs transition" %>
    <% end %>
    <%= link_to "Détails", admin_quote_path(quote), class: "rounded border border-violet-100 px-3 py-1 text-violet-700 font-medium hover:bg-violet-50 text-xs transition", data: { turbo_frame: "_top" } %>
    <%= link_to admin_quote_path(quote),
      method: :delete,
      data: { turbo_confirm: "Êtes-vous sûr de vouloir supprimer ce devis ?", turbo_method: :delete, turbo_frame: "quotes_list" },
      class: "rounded border border-violet-100 px-2 py-1 text-violet-700 font-medium hover:bg-violet-50 text-xs transition" do %>
      <%= inline_svg_tag("icons/trash.svg", class: "text-violet-700 h-4 w-4") %>
    <% end %>
  </td>
</tr>
